{% extends "::base.html.twig" %}

{% block title %}EmployeBundle:EmployeMobileController:findAllEmployes{% endblock %}

{% block body %}
<h1>Welcome to the EmployeMobileController:findAllEmployes page</h1>
{% endblock %}
